.number_indicator {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    width: 70px;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid red;
}

