.start_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 1400px;
    background-image: url('../assets/pexels-matteo-badini-4064432.jpeg');
    background-size: cover;
    color: white;
}