.main_container_proper2 {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
            "logo navbar"
            "img form"
            "img form"
}

.navbar2 {
    display: flex;
    align-items: center;
    grid-area: navbar;
    justify-content: space-around;
    background-color: #41B3A3;
}

.logo2 {
    background-color: #41B3A3;
    display: flex;
    padding-left: 20px;
    grid-area: logo;
    align-items: center;
}

.content_image2 {
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: img;
    background-image: url('../assets/pexels-matteo-badini-4064432.jpeg');
    background-size: cover;
}

.content2 {
    grid-area: form;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10%;
}