.navbar1 {
    display: flex;
    align-items: center;
    grid-area: navbar;
    justify-content: space-around;
    background-color: #41B3A3;
}

.logo1 {
    background-color: #41B3A3;
    display: flex;
    padding-left: 20px;
    align-items: center;
}

.main_container_wrong1 {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
            "form img"
            "form img"
            "navbar navbar"
}

.content_image1 {
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: img;
    background-image: url('../assets/pexels-matteo-badini-4064432.jpeg');
    background-size: cover;
}

.content1 {
    grid-area: form;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10%;
}
