.main_container_wrong3 {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto 10%;
    grid-template-areas:
            "content"
            "footer"
            "navbar"
}

.content3 {
    color: white;
    align-self: stretch;
    grid-area: content;
    padding: 100px;
    background-image: url('../assets/pexels-matteo-badini-4064432.jpeg');
    background-size: cover;
}

.navbar3 {
    display: flex;
    align-items: center;
    grid-area: navbar;
    justify-content: space-around;
    background-color: #41B3A3;
}

.logo3 {
    background-color: #41B3A3;
    display: flex;
    padding-left: 20px;
    align-items: center;
}

.footer3 {
    display: flex;
    flex-direction: row;
    grid-area: footer;
    justify-content: space-around;
    width: 100%;
}

.footer3 img {
    width: 10%;
}

