.main_container4 {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
            "navbar"
            "content"
            "footer"
}

.content4 {
    color: white;
    grid-area: content;
    padding: 100px;
    align-self: stretch;
    background-image: url('../assets/pexels-matteo-badini-4064432.jpeg');
    background-size: cover;
}

.navbar4 {
    display: flex;
    align-items: center;
    grid-area: navbar;
    justify-content: space-around;
    background-color: #41B3A3;
}

.logo4 {
    background-color: #41B3A3;
    display: flex;
    padding-left: 20px;
    align-items: center;
}

.footer4 {
    display: flex;
    flex-direction: row;
    grid-area: footer;
    justify-content: space-around;
    width: 100%;
}

.footer4 img {
    width: 10%;
}

